<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="static/img/MK-favicon-32x32.png" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap" rel="stylesheet">

        <title>MK-Dev</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/vendors/linericon/style.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="static/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="static/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="static/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        {% include "header.html" %}
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>CONTACT US</h2>
						<div class="page_link">
							<a href="{{ url_for('home') }}">Home</a>
							<a href="{{ url_for('contact') }}">CONTACT</a>
						</div>
						
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">
<!--                <div id="mapBox" class="mapBox" -->
<!--                    data-lat="40.701083" -->
<!--                    data-lon="-74.1522848" -->
<!--                    data-zoom="13" -->
<!--                    data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."-->
<!--                    data-mlat="40.701083"-->
<!--                    data-mlon="-74.1522848">-->
<!--                </div>-->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>California, United States</h6>
                                <p>Santa monica bullevard</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (440) 9865 562</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">support@colorlib.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->
        
        <!--================Footer Area =================-->
       {% include "footer.html" %}
        <!--================End Footer Area =================-->
        
        <!--================Contact Success and Error message Area =================-->
        <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Thank you</h2>
                        <p>Your message is successfully sent...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Sorry !</h2>
                        <p> Something went wrong </p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/stellar.js"></script>
        <script src="static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="static/vendors/isotope/isotope-min.js"></script>
        <script src="static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="static/js/jquery.ajaxchimp.min.js"></script>
        <script src="static/js/mail-script.js"></script>
        <script src="static/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="static/vendors/counter-up/jquery.counterup.min.js"></script>
        <!-- contact js -->
        <script src="static/js/jquery.form.js"></script>
        <script src="static/js/jquery.validate.min.js"></script>
        <script src="static/js/contact.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="static/js/gmaps.min.js"></script>
        <script src="static/js/theme.js"></script>
    </body>
</html>