<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>Before you go</h3>
        					</div>
        					<p>Don't forget to stay positive and do good and help others</p>
Copyright &copy;<script style="color: #abd6e2">document.write(new Date().getFullYear());</script> All rights reserved | Mohamed Khalil <a href="https://www.behance.net/mohamedkhalil2" target="_blank">check my Behance</a>
</p>
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        											<a class="navbar-brand logo_h" href=" {{url_for('home')}} "><img  s style="width:14rem" alt=""></a>

        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>My social links</p>
							<div class="social_links">
							<a href="https://github.com/mohamedkhalil-dev" target="_blank"><i class="fa fa-github"></i></a>
        						<a href="https://www.linkedin.com/in/mohamedkhalilhelmy/" target="_blank"><i class="fa fa-linkedin"></i></a>
        						<a href="https://www.behance.net/mohamedkhalil2" target="_blank"><i class="fa fa-behance"></i></a>
</div>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
</body>
</html>