<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="static/img/MK-favicon-32x32.png" type="image/png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap" rel="stylesheet">

        <title>MK-dev Multi</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/vendors/linericon/style.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="static/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="static/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="static/vendors/animate-css/animate.css">
        <link rel="stylesheet" href="static/vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <d>
        
        <!--================Header Menu Area =================-->
        {% include "header.html" %}
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Projects</h2>
						<div class="page_link">
							<a href="{{ url_for('home') }}">Home</a>
							<a href="{{ url_for('portfolio') }}">Projects</a>
						</div>
						
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Projects Area =================-->
              <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>Projects</h2>
					<p>This is a list of my projects, hope you enjoy</p>
				</div>
<!--        		<div class="projects_fillter">-->
<!--					<ul class="filter list">-->
<!--						<li class="active" data-filter="*"><a href="#">All Categories</a></li>-->
<!--						<li data-filter=".brand"><a href="#">Branding</a></li>-->
<!--						<li data-filter=".work"><a href="#">Creative Work </a></li>-->
<!--						<li data-filter=".web"><a href="#">Web Design</a></li>-->
<!--					</ul>-->
<!--				</div>-->
				<div class="projects_inner row">
					{% for project in projects %}
					<div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{{project.img_url}}" alt="">
							<div class="projects_text">
								<a href="{{url_for('show_project', project_id=project.id) }}"><h4>{{project.name}}</h4></a>
								<p>{{project.client}}</p>
							</div>
						</div>
					</div>
					{% endfor%}
				</div>
        	</div>
        </section>
        <!--================End Projects Area =================-->

        <!--================Testimonials Area =================-->
<!--        <section class="testimonials_area p_120">-->
<!--        	<div class="container">-->
<!--        		<div class="main_title">-->
<!--        			<h2>Testimonials</h2>-->
<!--        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>-->
<!--        		</div>-->
<!--        		<div class="testi_inner">-->
<!--					<div class="testi_slider owl-carousel">-->
<!--						<div class="item">-->
<!--							<div class="testi_item">-->
<!--								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>-->
<!--								<h4>Fanny Spencer</h4>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star-half-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="item">-->
<!--							<div class="testi_item">-->
<!--								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>-->
<!--								<h4>Fanny Spencer</h4>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star-half-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="item">-->
<!--							<div class="testi_item">-->
<!--								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>-->
<!--								<h4>Fanny Spencer</h4>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star"></i></a>-->
<!--								<a href="#"><i class="fa fa-star-half-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--        		</div>-->
<!--        	</div>-->
<!--        </section>-->
        <!--================End Testimonials Area =================-->


        <!--================Footer Area =================-->
       {% include "footer.html" %}

        <!--================End Footer Area =================-->





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/stellar.js"></script>
        <script src="static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="static/vendors/isotope/isotope-min.js"></script>
        <script src="static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="static/js/jquery.ajaxchimp.min.js"></script>
        <script src="static/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="static/vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="static/js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="static/js/gmaps.min.js"></script>
        <script src="static/js/theme.js"></script>
    </body>
</html>